
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light w-100" style="background-color: #3D99E6;">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
          <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block text-white" [routerLink]="['/landing']">
          Logo
          <!-- Logo title goes here -->
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
          <img src="" alt="logo"> <!-- Logo image goes here -->
        </a>
        <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span> <!-- Mobile dynamic button -->
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
            <a role="button" class="nav-link m-2 menu-item nav-active text-white" [ngx-scroll-to]="'#how-it-works'">How
              it
              works</a>
          </li>
          <li class="nav-item">
            <a role="button" class="nav-link m-2 menu-item text-white">FAQs</a>
          </li>
          <li class="nav-item">
            <a role="button" class="nav-link m-2 menu-item text-white" [routerLink]="['/trade-in']">Sell</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary text-white" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row" id="content">
    <div class="col-2"></div>
      <div class="col-8 shadow" id="currentOrder-container">
        <div class="row" *ngIf="noProducts">
          <div class="col" id="noItem-contain">
            <h5>{{ noProducts}}</h5>
            <a class="btn btn-primary" [routerLink]="['/trade-in']">Add items to your cart</a>
          </div>
        </div>
        <ngb-tabset #t="ngbTabset" *ngIf="!noProducts">
          <ngb-tab title="Your Order"  class="tab" id="tab-selectbyid1">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col">
                  <table class="table">
                    <tr>
                      <th>Cart</th>
                      <th>Total Payment</th>
                    </tr>
                    <tr>
                      <td>
                        <div ngbDropdown class="d-inline-block">
                          <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>{{activeProductList.length}}
                            items</button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <tr class="dropdown-item" *ngFor="let p of activeProductList; index as i">
                      <td *ngFor="let pr of p">
                        <p class="cart-text">{{pr.title}}/{{p.size}}GB/{{p.carrier}}</p>
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeCartItem(pr.id,p.price)">
                          <img src="../../assets/icons/baseline_clear_black_18dp.png" style="width:1rem;">
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a role="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/trade-in']">Sell another item</a>
                      </td>
                    </tr>
                    </div>
                    </div>
                    </td>
                    <td> ${{ activeOrder.total_payment }}</td>
                    </tr>
                    <tr>
                      <td>
                        <button type="button" class="btn btn-primary" (click)="t.select('tab-selectbyid2')">Next</button>
                      </td>
                      <td></td>
                    </tr>
                  </table>
                </div>
                <div class="col text-center">
                  <div class="row"></div>
                  <div class="row">
                    <p>Review your cart items then hit <br> the 'Next' to select your shipping address </p>
                  </div>
                  <div class="row"></div>  
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-center">
                  
                </div>
                <div class="col-sm-3"></div>
              </div>
              

              <!-- <span *ngFor="let p of activeProductList; index as i">
                {{p[0].title}}
              </span> -->
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Shipping" class="tab" id="tab-selectbyid2" [disabled]="noProducts">
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col">
                  <table class="table">
                    
                    <tr *ngFor="let add of allAddresses">
                      <td>
                        <p>{{add.street1}}</p>
                        <p>{{add.street2}}</p>
                        <p>{{add.city}}, {{add.state}}, {{add.zip}}</p>
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary" (click)="t.select('tab-selectbyid3')" (click)="selectAddress(add)" >Use this Address</button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col background-color-white">
                  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add an Address</button>
                  <p>Select or add an address your shipping address</p>
                </div>
              </div>
                
                <ng-template #content let-modal>
                  <app-address (sendAddress)="getAddress($event)" [getUser]="user"></app-address>
                </ng-template>
                
           
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Final Details" id="tab-selectbyid3" class="tab" [disabled]="noProducts">
            <ng-template ngbTabContent *ngIf="noAddress == false">
                <table class="table">
                  <thead>
                    <h4>Order Details</h4>
                    <tr>
                      <th>Products</th>
                      <th>Total Payment</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                          <tr  *ngFor="let p of activeProductList">
                            <td class="product-list">{{p[0].title}}/{{p.size}}GB/{{p.carrier}}</td>
                          </tr>
                        </td>
                     
                      <td>
                        ${{activeOrder.total_payment}}
                     
                      </td> 
                      <td>
                        <p>{{user[0].first_name}} {{user[0].last_name}}</p>
                        <p>{{activeAddress.street1}}</p>
                        <p>{{activeAddress.street2}}</p>
                        <p>{{activeAddress.city}}, {{activeAddress.state}}, {{activeAddress.zip}}</p>
                      </td>
                    </tr>
                  </tbody> 
                </table>
        
              <button type="button" class="btn btn-primary" [disabled]="noAddress" (click)="submitOrder()">Request Shipping Label</button>
              
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        
      </div>
  </div>
  <div class=row id="order-contain">
    <div class="col-2"></div>
    <div class="col-8 shadow">
      <h4>Past Orders</h4>
      <table class="table" id="order-table">
        <thead>
          <tr>
            <th>Order Date</th>
            <th>Carrier</th>
            <th>Order Tracking Number</th>
            <th>Order Label</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of allOrders" class="table-primary">
            <td>
              {{o.updatedAt | date}}
            </td>
            <td>{{o.carrier}}</td>
            <td>{{o.tracking}}</td>
            <td><a class="btn btn-sm btn-outline-primary" (click)="openNewWindow(o.label)">Shipping Label</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row" >
    <nav id="footer" class="navbar navbar-expand-lg navbar-light w-100" style="background-color: #F8F9FA;">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
          <!-- hidden spacer to center brand on mobile --></span>
      </div>
      <div class="flex-grow-2 w-100" id="myFooter">
        <ul class="navbar-nav ml-auto flex-wrap justify-content-around w-100">
          <li class="nav-item">
            <p><b>Sell</b></p>
            <p>Resources</p>
            <p>Resources</p>
            <p>About</p>
            <p>Contact Us</p>
          </li>
          <li class="nav-item ">
            <p><b>About Gadgetbank</b></p>
            <p>Resources</p>
            <p>About</p>
            <p>Contact Us</p>
          </li>
          <li class="nav-item ">
            <p><b>Contact Us</b></p>
            <p>Resources</p>
            <p>Resources</p>
            <p>About</p>
            <p>Contact Us</p>
          </li>
          <li class="nav-item">
            <p><b>Resources</b></p>
            <p>Resources</p>
            <p>Resources</p>
            <p>About</p>
            <p>Contact Us</p>
          </li>
          <li class="nav-item">
            <p>Lorem ipsum dolor sit amet,</p>
            <p>consectetur adipiscing elit.<p> Mauris semper justo eget feugiat vestibulum. </p>
              <p>Fusce eget
                dapibus metus, sed rutrum.</p>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>