
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light w-100" style="background-color: #3D99E6;">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
          <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block text-white" [routerLink]="['/landing']">
          Logo
          <!-- Logo title goes here -->
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
          <img src="" alt="logo"> <!-- Logo image goes here -->
        </a>
        <div class="w-100 text-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span> <!-- Mobile dynamic button -->
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
            <a role="button" class="nav-link m-2 menu-item nav-active text-white" [ngx-scroll-to]="'#how-it-works'">How
              it
              works</a>
          </li>
          <li class="nav-item">
            <a role="button" class="nav-link m-2 menu-item text-white">FAQs</a>
          </li>
          <li class="nav-item">
            <a role="button" class="nav-link m-2 menu-item text-white" [ngx-scroll-to]="'#bottom'">Get Cash Now</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light" [routerLink]="['/create-account']">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" [routerLink]="['/create-account']">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col-2"></div>
      <div class="col-8">
        <ngb-tabset #t="ngbTabset">
          <ngb-tab title="Your Order" id="tab-selectbyid1">
            <ng-template ngbTabContent>
              <!-- <div *ngIf="activeProductList.length == 0">
                <p>Nothing here</p>
                <a class="btn btn-priimary" [routerLink]="['/trade-in']">Click here to add a product</a>
              </div> -->
              <table class="table">
                <tr *ngFor="let o of allOrders">
                  <td>{{ o.id }}</td>
                  <td>{{ o.total_payment }}</td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{activeProductList.length}} items</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <tr class="dropdown-item" *ngFor="let p of activeProductList; index as i">
                            <td><p class="cart-text">{{p[0].title}}/{{p.size}}GB/{{p.carrier}}</p></td>
                            <td>
                              <button type="button" class="btn btn-danger btn-sm">
                                <img src="../../assets/icons/baseline_clear_black_18dp.png" style="width:1rem;">
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a role="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['/trade-in']">Sell Another Item</a>
                            </td>
                          </tr>
                      </div>
                    </div>
                  </td>
                  <!-- {{activeProductList[2][0].title}} -->
                </tr>
               
                    <button type="button" class="btn btn-primary" (click)="t.select('tab-selectbyid2')">Next</button>
            
              </table>
              <!-- <span *ngFor="let p of activeProductList; index as i">
                {{p[0].title}}
              </span> -->
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Shipping" id="tab-selectbyid2">
            <ng-template ngbTabContent>
                <table class="table" >
                  
                  <tr *ngFor="let add of allAddresses">
                    <td>
                      <p>{{add.street1}}</p>
                      <p>{{add.street2}}</p>
                      <p>{{add.city}}, {{add.state}}, {{add.zip}}</p>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" (click)="selectAddress(add)" (click)="t.select('tab-selectbyid3')">Use this Address</button>
                    </td>
                  </tr>    
                </table>
                <ng-template #content let-modal>
                  <app-address (sendAddress)="getAddress($event)" [getUser]="user"></app-address>
                </ng-template>
                <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add an Address</button>
           
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Final Details" id="tab-selectbyid3">
            <ng-template ngbTabContent>
              <h4>Order Details</h4>
             
                <table class="table">
                  <thead>
                    <tr>
                      <th>Products</th>
                      <th>Total Payment</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                     
                        <td>
                          <tr *ngFor="let p of activeProductList">
                            <td>{{p[0].title}}/{{p.size}}/{{p.carrier}}</td>
                          </tr>
                        </td>
                     
                      <td>
                        {{allOrders[0].total_payment}}
                     
                      </td>
                      <td *ngIf="noAddress">
                        <p>Please select an address before continuing</p>
                      </td>
                      <td *ngIf="noAddress == false">
                        <p>{{user[0].first_name}} {{user[0].last_name}}</p>
                        <p>{{activeAddress.street1}}</p>
                        <p>{{activeAddress.street2}}</p>
                        <p>{{activeAddress.city}}, {{activeAddress.state}}, {{activeAddress.zip}}</p>
                      </td>
                    </tr>
                  </tbody> 
                </table>
        
              <button type="button" class="btn btn-primary" [disabled]="noAddress" (click)="submitOrder()">Request Shipping Label</button>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        
      </div>
      <div class="col-2"></div>
  </div>    
</div>