<p>
  home works!
</p>
<div class="container-fluid">
  <h2>Home</h2>
  <div class="row">
    <div class="col-3 home-col">
      Total Revenue
    </div>
    <div class="col-3 offset-md-1 home-col ">
      Today's Sales
    </div>
    <div class="col-3 offset-md-1 home-col">
      Enhance
    </div>
  </div>
  <div class="row">
    <div class="col-7 home-col " id="col-m-l">
      Top Product
    </div>
    <div class="col-3 home-col offset-md-1">
      Quick Details
    </div>
  </div>
  <div class="row">
    <div class="col-3 home-col">
      Money Stats
    </div>
    <div class="col-7 home-col offset-md-1">
      Net Income
    </div>
  </div>

</div>

