<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <mat-sidenav-container class="homecontainer">
    <mat-sidenav mode="side" opened>
      <div id="logoblock">Logo</div>
      <br>
      <button mat-button color="primary">
        <i class="material-icons">home</i> Home
      </button>
      <br>
      <button mat-button color="primary">
        <i class="material-icons">bar_chart</i> Orders
      </button>
      <br>
      <button mat-button color="primary">
        <i class="material-icons">assignment</i> Products
      </button>
      <br>
      <button mat-button color="primary">
        <i class="material-icons">email</i> Customers
      </button>
      <br>
      <button mat-button color="primary">
        <i class="material-icons">settings</i> Settings
      </button>
    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container>
</body>
</html>