<p>
  login works!
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-3 offset-md-1" id="login-container">
      <h2>Log In</h2>
      <small>Please enter email and password for your GadgetBank account below</small>
      <form class="postForm" (submit)="loginUser(logUser)">
        <label>Email address</label>
        <input type="text" class="form-control" placeholder="Ex. JohnSmith@yahoo.com" [(ngModel)]="logUser.email" name="logUser.email">
        <label>Password</label>
        <input type="text" class="form-control" [(ngModel)]="logUser.password" name="logUser.password">
        <button type="submit" value="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
    <div class="col-2"></div> 
    <!-- create empty space -->
    <div class="col-3" id="register-container">
      <h2>Register a new account</h2>
      <form>
        <label>Email address</label>
        <input type="text" class="form-control" placeholder="Ex. JohnSmith@yahoo.com">
        <label>Confirm email address</label>
        <input type="text" class="form-control">
        <label>Password</label>
        <input type="password" class="form-control">
        <label>Password confirmation</label>
        <input type="password" class="form-control">
        <label>First name</label>
        <input type="text" class="form-control">
        <label>Last name</label>
        <input type="text" class="form-control">
        <label>Username</label>
        <input type="text" class="form-control">
        <button type="submit" value="submit" class="btn btn-primary">Create Account</button>
      </form>
    </div>
    <div class="col-2"></div>
    <!-- create empy space -->
  </div>

</div>