<div class="container">
  <button type="button" class="btn btn-primary" [routerLink]="['/new/product']">New Product</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Manufacturer</th>
        <th>Condition</th>
        <th>Size</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
          <td>{{p.title}}</td>
          <td>{{p.manufacturer}}</td>
          <td>{{p.condition}}</td>
          <td>{{p.size}}</td>
          <td>{{p.price}}</td>
          <td>
            <button (click)="showEdit(p.id)">Edit</button>
            <!-- <button [routerLink]="['/edit/'+p.id+'']">Edit</button> -->
          </td>
        </tr>
    </tbody>
  </table>
</div>
