.container-fluid{
    padding-top:1rem;
    background-color: #F8F9FA
}
.btn-sm{
    font-size:.65rem;
}
.disabled-select{
    color: #6C757D
}
.edit-top-box{
    margin-bottom:2rem;
}
.card-body{
    padding:0 !important;
}

label {
 border:1px solid #ccc;
 padding:10px;
 margin:0 0 10px;
 display:block; 
}
label:active{
    background:white;
    cursor:pointer;

}
label:hover {
 background:#eee;
 cursor:pointer;
}

.edit-top-box{
    background-color:white;
    height: 15rem;
    padding-top:2.5rem;
}
.input-top{
    margin-bottom:1rem;
}
#price_container{
    padding-left: 0;
    padding-top:1rem;
    padding-bottom:1rem;
}
.col-3{
    padding-left: 0;
}
#submit_button{
    width:50%
}
#carrier-select{
    
    padding-right:0;
}
#price-header{
    border:none !important;
    background-color:white;
}
th{
    text-align:center;
}