.disabled-select{
    color: #6C757D
}
label {
 border:1px solid #ccc;
 padding:10px;
 margin:0 0 10px;
 display:block; 
}
label:active{
    background:white;
    cursor:pointer;

}
label:hover {
 background:#eee;
 cursor:pointer;
}
