<div class="container-fluid">
  <p>
    <button class="btn-sm btn-primary"  (click)="goBackToProducts()">Products</button>
  </p>
  <h4>Edit Product</h4>
  <form class="postForm" (submit)="editProduct(product)">
    <div class="row edit-top-box shadow-sm rounded">
      
        <div class="col-3 offset-md-1 h-30">
          <div class="row">
            <input type="text" class="form-control input-top" placeholder="{{getProduct.title}}" [(ngModel)]="product.title" name="title">
            <select class="form-control input-top" [(ngModel)]="product.manufacturer" name="manufacturer">
              <option value="" disabled selected><p class="disabled-select" >{{getProduct.manufacturer}}</p></option>
              <option value="Apple">Apple</option>
              <option value="SamSung">SamSung</option>
            </select>
            <select class="form-control input-top" [(ngModel)]="product.category_id" name="category_id">
              <option value="" disabled selected><p class="disabled-select">{{currentCategory}}</p></option>
              <option *ngFor="let c of allCategories" value="{{c.id}}">{{c.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-6 offset-md-1">
          <input type="file" class="form-control-file" ng2FileSelect [uploader]="uploader"/>
          <button type="button" class="btn-small btm-primary" (click)="uploader.uploadAll()">Upload</button>
        </div>
      </div>
    <h4>Pricing</h4>
    <!-- <div class="row card text-center shadow-sm">
      <div class="card-header" id="price-header" style="text-align:left;">
            <div class="btn-group btn-group-toggle" ngbRadioGroup *ngFor="let s of sizes">
              <label ngbButtonLabel class="btn-primary" >
                <input ngbButton type="radio" [(ngModel)]="product.size_id" name="product.size_id" value="s.id" (click)="toggleSize(s.id)">{{s.value}}GB
              </label>
            </div>
              <table>
                <thead>
                  <tr>
                    <th>Carrier</th>
                    <th>Handset Only</th>
                    <th>Sealed</th>
                    <th>Open-Sealed</th>
                    <th>Good LCD</th>
                    <th>Cracked Front</th>
                    <th>Bad LCD/Copy</th>
                    <th>Dead</th>
                    <th>Cracked Back (Minus)</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr *ngFor="let c of carrierPriceGroup; index as i">
                    <td>{{c.name}} 
                      <input type="hidden" value="{{c.carrier_id}}">
                    </td>
                    <td *ngFor="let p of conditionPriceGroup; let cur of currentSizes; index as j">
                        <input type="text"  class="form-control"  #box (keyup)="onKey(box.value, i,j)"> 
                        
                    </td>                                      
                    <td>
                    
                      <input type="text" class="form-control" #minus (keyup)="minusKey(minus.value, i )">
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div> -->
    <div class="row card text-center shadow-sm">
      <ngb-tabset>
        <ngb-tab *ngFor="let s of sizes">
          <ng-template ngbTabTitle>
            <p (click)="toggleSize(s.id)" style="margin:0;width:100%;height:100%; font-size:1.25rem;">{{s.value}} GB</p>
          </ng-template>
          <ng-template ngbTabContent>
            <table>
              <thead>
                <tr>
                  <th>Carrier</th>
                  <th>Handset Only</th>
                  <th>Sealed</th>
                  <th>Open-Sealed</th>
                  <th>Good LCD</th>
                  <th>Cracked Front</th>
                  <th>Bad LCD/Copy</th>
                  <th>Dead</th>
                  <th>Cracked Back (Minus)</th>
                </tr>
              </thead>
              <tbody *ngFor="let c of carrierPriceGroup; index as i"> 
                  <tr>
                    <td>{{c.name}}</td>
                      <td *ngFor="let p of conditionPriceGroup; index as j">
                        <input *ngIf="i == 0 && j < conditionPriceGroup.length" type="text" class="form-control" placeholder={{prices[j+conditionPriceGroup.length*i].price_value}} #box (keyup)="onKey(box.value, i,j)">
                        <input *ngIf="i == 1 && j < conditionPriceGroup.length" type="text" class="form-control" placeholder={{prices[j+conditionPriceGroup.length*i].price_value}}
                          #box (keyup)="onKey(box.value, i,j)">
                        <input *ngIf="i == 2 && j < conditionPriceGroup.length" type="text" class="form-control" placeholder={{prices[j+conditionPriceGroup.length*i].price_value}}
                          #box (keyup)="onKey(box.value, i,j)">
                        <input *ngIf="i == 3 && j < conditionPriceGroup.length" type="text" class="form-control" placeholder={{prices[j+conditionPriceGroup.length*i].price_value}}
                        #box (keyup)="onKey(box.value, i,j)">
                        <input *ngIf="i == 4 && j < conditionPriceGroup.length" type="text" class="form-control" placeholder={{prices[j+conditionPriceGroup.length*i].price_value}}
                        #box (keyup)="onKey(box.value, i,j)">
                      </td>
                      <td>
                        <input type="text" class="form-control" placeholder={{prices[i+conditionPriceGroup.length*i].minus_value}} #minus (keyup)="minusKey(minus.value, i )">
                      </td>
                    
                  
                  </tr>

                
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div> 
    
    <div class="row" id="price_container">
      <div class="col-3">
      </div>
      <div class="col-6"></div>
      <div class="col-3" style="text-align:right">
        <button id="submit_button" type="submit" class="btn btn-primary" value="submit" >Save</button>
      </div>
    </div> 
  </form>
</div>
