<div class="container-fluid" style="background-color:#F8F9FA ">

  <div class="row">
      <nav class="navbar navbar-light  bg-light flex-md-nowrap col" style=" padding:0 !important">
        <div class="nav-brand col-2 h-100" style="background-color: #3A8CEB">
          <a href="#">Logo</a>
        </div>
        <input class="form-control form-control-light w-100 h-100 shadow-sm " type="text" placeholder="Search" style="border-radius:0;"/>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign Out</a>
          </li>
        </ul>
      </nav>
  </div>

  <div class="row" style=" padding-top:0">
    <nav class="navbar-brand col-2 d-none d-md-block bg-light sidebar" style="margin-right:1rem; padding-right: 0; padding-left:0; padding-top:0">
      <div>
        <ul class="nav flex-column" style="background-color:white; height: 100vh">
          <li class="nav-item">
            <a (click)="goHome()">Home</a>
          </li>
          <li class="nav-item">
            <a (click)="goOrders()">Orders</a>
          </li>
          <li class="nav-item">
            <a (click)="goProduct()">Products</a>
          </li>
          <li class="nav-item">
            <a (click)="goCustomers()">Customers</a>
          </li>
          <li class="nav-item">
            <a (click)="goSetting()">Settings</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class=" col-9" style="height:100vh; background-color: #F8F9FA; margin-left:.41rem; ">
      <app-home *ngIf="home"></app-home>
      <app-products *ngIf="product" (sendProduct)="getProduct($event)"></app-products>
      <app-orders *ngIf="order"></app-orders>
      <app-customers *ngIf="customer"></app-customers>
      <app-settings *ngIf="setting"></app-settings>
      <app-product-edit *ngIf="showEditProduct" (backToProduct)="goBack($event)"></app-product-edit>
    </main>
  </div>
</div>
