
<div class="container-fluid" id="wrapper">
  <p>
    <button class="btn-sm btn-primary" (click)="goBackToProducts()">
      Back To Products</button> 
      <h2>Add Product</h2>
      <div class="container-fluid shadow-sm rounded" id="form-container">
        
        <form class="postForm" (submit)="addProduct(newProduct)">
          <div class="row">
            <div class="col-3 offset-md-1">
              <div class="row">
                <input type="text" class="form-control add-input" placeholder="Title" name="newProduct.title" [(ngModel)]="newProduct.title">
                <select class="form-control add-input" [(ngModel)]="newProduct.manufacturer" name="newProduct.manufacturer">
                  <option value="" disabled selected>
                    <p class="disabled-select">Manufacturer</p>
                  </option>
                  <option value="Apple">Apple</option>
                  <option value="SamSung">SamSung</option>
                </select>
                <select class="form-control add-input" [(ngModel)]="newProduct.category_id" name="category_id">
                  <option value="Device Type" disabled selected>
                 Device Type
                  </option>

                  <option *ngFor="let c of allCategories" value="{{c.id}}">{{c.name}}</option>
                </select>
                
              </div>
            </div>
            <div class="col-6 offset-md-1">
              <input type="file" class="form-control-file"/>
            </div>
          </div>
          <div class="row" id="submit-contain">
            <div class="col-10"></div>
            <div class="col-2">
              <button type="submit" class="btn btn-primary" value="submit">Add Product</button>
            </div>
          </div>
          
          
        </form>
      </div>
      
</div>
<script>
  
</script>