<p>
  orders works!
</p>
<div class="btn-group btn-group-toggle active" data-toggle="buttons">
            
            <label class="btn btn-primary"  data-toggle="button">
              <input type="radio" value="64" id="product.size1" [(ngModel)]="product.size" name="product.size" autocomplete="off" checked/>64GB</label>
            <label class="btn btn-primary">
              <input type="radio" value="240" [(ngModel)]="product.size" name="product.size"  autocomplete="off"/>240GB
            </label>
          </div>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
  </label>
</div>